.btn {
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 10px;
    touch-action: manipulation;
    color: #355fd6;
    background-color: #fff;
    border: 1px solid #355fd6;
    text-align: center;

    &.btn-primary {
        color: #fff;
        background-color: #355fd6;
    }

    &.btn-danger {
        color: #d43f3a;
        border-color: #d43f3a;
    }
}
