.form-box {
    background: #f6f8ff;
    padding: 15px 10px 0;
}

@baseHeight: 30px;

.form-interface {
    margin-bottom: 15px;
    padding-right: 10px;

    .form-label {
        width: 100px;
        text-align: right;
        line-height: @baseHeight;

        &.required:before {
            content: '*';
            color: red;
        }
    }

    .form-container {
        line-height: @baseHeight;

        .checkbox, .radio {
            line-height: @baseHeight;
            white-space: nowrap;

            input {
                margin-right: 5px;
                margin-top: -2px;
            }
        }

        .split {
            margin: 0 5px;
        }
    }
}

fieldset:disabled {
    .form-label.required:before {
        content: '';
    }
}

.form-control {
    border: 1px solid #dbdeef;
    border-radius: 2px;
    padding: 5px;
    height: @baseHeight;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    &:focus, &.focus {
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    }
}

textarea.form-control {
    height: auto;
    padding: 7px 10px;
    min-height: @baseHeight;
    resize: vertical;
}

input[type=number].form-control {
    margin: 0;
    -moz-appearance: textfield; // firefox

    &::-webkit-inner-spin-button { // webkit内核input[number]默认箭头样式
        -webkit-appearance: none !important;
    }
}
